.shopItem {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: auto;
}

.shopItem__image {
  width: 140px;
  height: 100px;
  margin: 16px;
  object-fit: cover;
}

.shopItem__name {
  font-size: 14px;
  color: var(--title-color);
}

.shopItem__price {
  align-self: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: auto;
  color: var(--title-color);
}
