.shopList {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  min-height: 100%;
  padding-bottom: 35px;
}

.loaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
