.shop {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.shopNavbar,
.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopNavbar {
  position: sticky;
  top: 0;
  gap: 15px;
  width: 100%;
  height: var(--shop-navbar-height);
  border-bottom: solid 1px transparent;
  background-color: #fff;
  z-index: 1;
  transition: border 0.3s ease;
}

.shopNavbar.scroll {
  border-color: #ccc;
}

.shop main {
  min-height: calc(100% - var(--shop-navbar-height));
}
