.navbar,
.navbar nav,
.navCart {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: space-between;
  height: var(--navbar-height);
  padding: 15px 60px;
  background-color: #cee5f2;
}

.logo {
  width: 200px;
  height: 36px;
  object-fit: cover;
}

.navbar nav {
  gap: 20px;
}

.navCart {
  border: none;
  background-color: transparent;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navCart svg {
  width: 18px;
  height: 18px;
  margin-right: 3px;
}

.navCart.open {
  color: var(--accent);
}
